{% extends 'admins/index.html'%}
{% load static %}

{% block title %}
<title>Customer's Order</title>
{% endblock %}

{% block admin_content %}

<div class="relative overflow-x-auto">
    {% for msg in messages %} 
    {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <div class="flex justify-center">
        <span class="bg-green-300 text-xl font-bold p-3 rounded-lg text-blue-500">
        {{msg}} 
        </span>
    </div>
    {% endif %}
    {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <div class="flex justify-center">
        <span class="bg-red-300 text-xl font-bold p-3 rounded-lg text-blue-500">
            {{msg}} 
        </span>
    </div>
    {% endif %}
    {% endfor %}

    <div class="flex justify-center">
        <span class="bg-primary_color text-purple-400 p-5 text-3xl text-center rounded-2xl font-bold">Customer's Order</span>
    </div>

    {% if order %}
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 mt-10">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Address
                </th>
                <th scope="col" class="px-6 py-3">
                    Customer name
                </th>
                <th scope="col" class="px-6 py-3">
                    Product name
                </th>
                <th scope="col" class="px-6 py-3">
                    Product Price
                </th>
                <th scope="col" class="px-6 py-3">
                    Quantity
                </th>
                <th scope="col" class="px-6 py-3">
                    Total Price
                </th>
                <th scope="col" class="px-6 py-3">
                    Image
                </th>
                <th scope="col" class="px-6 py-3">
                    Category
                </th>
                <th scope="col" class="px-6 py-3">
                    Payment Status
                </th>
                 
            </tr>
        </thead>
        <tbody>
            {% for o in order %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{o.address}}
                </th>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{o.user.username}}
                </th>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{o.product.product_name}}
                </th>
                <td class="px-6 py-4">
                    {{o.product.product_price}}
                </td>
                <td class="px-6 py-4">
                    1
                </td>
                <td class="px-6 py-4">
                    {{o.total_price}}
                </td>
                <td class="px-6 py-4">
                    <img src="/{{o.product.image}}" alt="{{o.product.product_name}}" class="w-44">
                </td>
                <td class="px-6 py-4">
                    {{o.product.category}}
                </td>

                <td class="px-6 py-4">
                    {% if o.payment_status == True%}
                    <div class="text-green-300 font-bold">Completed</div>
                    {% else %}
                    <div class="text-red-300 font-bold">Incomplete</div>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="flex justify-center mt-10">
        <span class="text-xl font-bold text-gray-700 my-10">Your Order is empty.</span>
    </div>
    {% endif %}
</div>

{% endblock %}
